# ENVIRONNEMENT GLOBAL
# -----------------------------------------------------------------------------
# Pour être sur que le fichier .gitignore n'est jamais ignorer lui-même.
!.gitignore

# Becouse it's a personal config
.gitconfig

# SASS
# -----------------------------------------------------------------------------
# Ignorer le cache de Sass
.sass-cache

# Ignorer la configuration interne de Bunler
.bundle

# Ignorer les gems instalées avec le projet
# N'hésitez pas à adpater le nom du dossier à vos propre habitudes
.gems

# MODULES TIERS
# -----------------------------------------------------------------------------
# Ignorer les modules nodes
node_modules

# Ignorer le cache des modules Grunt
npm-debug.log

# SYSTEM SPECIFIC : OSX
# -----------------------------------------------------------------------------
.DS_Store

